BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveBitFields: true
BreakBeforeBinaryOperators: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: All
IndentWidth: 4
TabWidth: 4
